/* /src/styles/app.css v0.97 */
#root {
  max-width: 100%;
  margin: 0;
  /* text-align: center; */
}

* {
  box-sizing: border-box;
}

/* Set body properties: font and margins */
body {
  /* margin: 0; */
  /* padding: 0; */
  color: white;
}