/* /src/styles/index.css v0.98 */

/* import dependencies */
@import './reset.css';

/* Global styles */
:root {
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #3498db;
  width: 100%;
  margin: 0;
  padding: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

/* a:hover {
  color: #535bf2;
} */

button {
  background-color: #f9f9f9;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {font-family: 'Garamond', serif;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}