/* /src/styles/project.css v0.97*/

.portfolio-outer-container {
    margin-left:100px;
}

.project-outer-container {
    width:100%;
    margin-bottom: 10px;
    margin-left: 10px;
   }

.project-card-flex-container {
    flex: initial;
    display: flex;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
}

.project-image {
    width:calc(100% / 3 - 10px);
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.project-card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    /* width: 100%; */
    width: calc(100% / 3 - 10px);
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.project-outer-container:hover .project-card-overlay {
    opacity: 1;
}

.project-title {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #fff;
}

.project-links {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.project-links a {
    text-decoration: none;
    color: #fff;
    margin-bottom: 5px;
    display: none;
    transition: display 0.3s ease-in-out;
}

.project-outer-container:hover .project-links a {
    display: block;
}

.link-text {
    display: inline-block;
    background: #646cff;
    padding: 5px 10px;
    border-radius: 5px;
}

.link-icon {
    font-size: 24px; /* Adjust the size as needed */
    color: #fff; /* Adjust the color as needed */
}