/* /src/styles/project.css*/

/* .project-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} */

.project-container {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}

/* Card properties for the topics: allows flex grow and shrink and padding */
.project {
    flex: 1 1 0;
    width: calc(33% - 10px);
    padding: 10px;
  }

/* .project {
    width: calc(33.33% - 10px);
    margin-bottom: 10px;
} */

.project-info {
    position: relative;
    overflow: hidden;
}

.project-image {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.project-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.project:hover .project-overlay {
    opacity: 1;
}

.project-title {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #fff;
}

.project-links {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.project-links a {
    text-decoration: none;
    color: #fff;
    margin-bottom: 5px;
    display: none;
    transition: display 0.3s ease-in-out;
}

.project:hover .project-links a {
    display: block;
}

.link-text {
    display: inline-block;
    background: #646cff;
    padding: 5px 10px;
    border-radius: 5px;
}