* {
    box-sizing: border-box;
  }
  
  /* Set body properties: font and margins */
  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px 15px 0px 5px;
  }
  /* Set header properties: flex, padding, background color and font color */
   header {
    display: flex;
    padding: 15px 50px 15px 15px;
    background: #352e41;
    color: #fff;
  }

  /* Set my picture property to size to 10% */
  header img.tom {
    width: 10%;
  }

  /* Set my h1 for the header */
  header h1 {
    font-size: 200%;
    padding-left: 15px;
  }

  /* Set the nav container properties for the header */
  header ul {
    display: flex;
    padding-top: 10px;
    padding-left: 625px;
    min-width: 300px;
  }
  
  /* Set the nav links font color, font size, spacing and alignment properties for the header */
  header nav a {
    color: #13293d;
    padding-left: 15px;
    text-align: center;
    color: #fff;
    white-space: nowrap;
    font-size:medium;
  }

/* add the topic sections, font color, spacing and light grey background*/
.section_topic {
  display: flex;
  flex-wrap: wrap;
  background-color: lightgray;
  justify-content: space-between;
  color: #4d4d72;
  padding: 15px;
}

/* adding a right border and made width 20%*/
.section_topic h2 {
  text-align: right;
  font-size: 200%;
  border-right: 5px solid #4d4d72;
  padding-right: 10px;
  width: 20%;
}

/* paragraph properties for the topics and width 80%*/
.section_topic p {
  padding: 10px;
  width: 80%;
}


/* Card container properties for the topics*/
.card_container {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}


/* Card properties for the topics: allows flex grow and shrink and padding*/
.card {
  flex: 1 1 0;
  padding: 10px;
  text-align: center;
}

/* Card header properties for the topics */
header.card {
  padding: 20px;
  background: #13293d;
  color: #fff;
}

.card img {
  max-width: 100%;
  min-width: 100px;
}

/* Cards are split into two columns at 992px or smaller */
@media screen and (max-width: 992px) {
  .card {
      width: 50%;
  }

  /* Change the header color */
  header {
      background: #772014;
  }
}

/* Cards are stacked on top of each other at 768px or smaller */
@media screen and (max-width: 768px) {
  .card_container {
    flex-direction: column;
  }
  
  .card {
      max-width: 100%;
  }

  .section_topic h1 {
      text-align: right;
      font-size: 50%;
  }
  
  /* Change the header color */
  header {
      background: #8ac4ff;
  }
}

/* set the hover property to enlarge the cards by 10% when you position mouse over the card*/
.card:hover {
    transform: scale(1.1);
}

/* set the footer properties*/
footer {
  padding: 30px;
  clear: both;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
}
